body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#map{
    width: 100%;
    height: 100%;
}

.title{
    position: absolute;
    z-index: 100;
    font-size: 88px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    top: 100px;
    left: 100px;
}

.search-container{
    border-radius: 30px;
    position: absolute;
    z-index: 100;
    top: 230px;
    left: 100px;
    width: 400px;
    height: 60px;
    background-color: #454E53;
    display: flex;
}

.search-container .search{
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.search-container input{
    width: 100%;
    font-size: 25px;
    background-color: transparent;
    border: none;
    color: white;
}

.search-container input:focus{
    outline: none;
}

.search i {
    font-size: 25px;
    color: white;
}

.store-list-container{
    width: 400px;
    position: absolute;
    z-index: 100;  
    background: white;
    left: 100px;
    top: 320px;
    border-radius: 30px;
    bottom: 20px;
    display: flex;
    padding-bottom: 30px;
    overflow-y: scroll;
}

.store-container{
    border-bottom: 1px soid #979797;
    display: flex;
}

.store-info-container{
    flex-grow: 1;
}

.store-number-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.store-address{
    font-size: 21px;
    color: #514c4c;
    margin-top: 15px;
}

.store-address span{
    display: block;
}

.store-phone-number{
    color: #B5adad;
    margin-top: 15px;
    margin-bottom: 15px;
}

.store-number{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #454E53;
    color: #B5adad;
    border-radius: 50%;
    font-size: 12px;
}

.store-list{
    flex-grow: 1;
    padding-left: 20px;
    padding-right: 20px;
}